<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Signin</title>
</head>
<body>

	<section>
		<div class="signup_prt">

			<div th:if="${param.error}" class="alert alert-danger">incorrect
				username or password</div>

			<div th:if="${param.logout}" class="alert alert-success">You
				have logged out successfully</div>

			<form action="" th:action="@{/login}" method="post" class="col-md-12">

				<input type="text" name="username" placeholder="username"> <input
					type="password" name="password" placeholder="password">

				<button type="submit" class="btn signup_btn btn-8">Let's
					Get Dive Into</button>
			</form>


		</div>

	</section>

</body>
</html>