<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Signin</title>
</head>
<body>

	<section>
		<div class="signup_prt">

			<div th:if="${param.error}" class="alert alert-danger">incorrect
				username or password</div>

			<div th:if="${param.logout}" class="alert alert-success">You
				have logged out successfully</div>

			<form action="" th:action="@{/login}" method="post" class="col-md-12">

				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingInput"
						placeholder="username" name="username"> <label
						for="floatingInput">Your username</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" class="form-control" id="floatingInput"
						placeholder="password" name="password"> <label
						for="floatingInput">Your password</label>
				</div>

				<button type="submit" class="btn signup_btn btn-8">Let's
					Get Dive Into</button>
			</form>

		</div>

	</section>

</body>
</html>